.gradient-background {
  background: linear-gradient(300deg, #1d0c43, #5469e7,#341b8f);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media (max-width: 990px) {
    .main{
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

/* Cover page start*/

.main{
  margin-bottom: 3rem;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
  margin-left: 2rem!important;
  margin-right: 2rem!important;
  height: 90vh;
}

.align-items-center {
  align-items: center!important;
}
/* Cover page end*/

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}


